@import url(https://overpass-30e2.kxcdn.com/overpass.css);

body{
  font-family: 'overpass', sans-serif;
  padding: 0;
  margin: 0;
}

a{
  color: #2a8399;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.site-title{
  margin: 0;
  padding: 10px 0;
  font-weight: 600;
  font-size: 2.2rem;
}

h1{
  font-size: 2.2rem;
  line-height: 2.4rem;
}

h2{
  font-size: 2rem;
  line-height: 2.2rem;
  margin-bottom: 20px;
}

.content{
  max-width: 960px;
  margin: 0 auto 50px;
  padding: 10px;
}

.header{
  background-color: #2a8399;
}

.header a{
  color: #FFFFFF;
}

.header .content{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.header .nav{
  margin: 0;
  list-style-type: none;
  padding: 24px 0;
}

.header .nav li{
  display: inline-block;
  padding: 0 10px;
  font-weight: 500;
}

.conference-records{
  width: 100%;
  border-collapse: collapse;
}

.conference-records tr:nth-of-type(even){
  background-color: #eee;
}

.conference-records td{
  text-align: center;
}

.bowls{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.listing{
  font-weight: 500;
  padding-left: 20px;
}

.listing li{
  padding: 2px 0;
  font-size: 1.2rem;
}

.season{
  width: 45%;
  max-width: 400px;
  margin-bottom: 50px;
}

.season .bowl-name{
  margin: 0;
  font-size: 1.8rem;
}

.season .scores{
  font-weight: 600;
  font-size: 1.4rem;
}

.season .scores div{
  display: grid;
  grid-template-columns: auto 50px;
}

.season .scores .rank{
  color: #555;
  font-weight: 400;
  text-align: right;
  padding-right: 2px;
  font-size: 1rem;
  padding-top: 0.4rem;
}

.season .scores .score{
  font-weight: 700;
  text-align: right;
}

@media only screen and (max-width: 600px) {
  .site-title{
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .header .nav{
    padding: 10px 0;
  }

  .header .nav li{
    padding: 5px 10px;
    text-align: right;
    display: block;
  }
  
  .season{
    width: 100%;
    margin: 0 auto 50px;
  }
}